<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="keyur.diwan.project.waterReminder">

    <!-- 权限声明：振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 权限声明：开机自启动权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- 欢迎页Activity -->
        <activity android:name="keyur.diwan.project.waterReminder.WalkThroughActivity"
                android:screenOrientation="portrait">
        </activity>

        <!-- 统计页面Activity -->
        <activity
                android:name="keyur.diwan.project.waterReminder.StatsActivity"
                android:theme="@style/MainTheme"
                android:screenOrientation="portrait">
        </activity>

        <!-- 用户信息初始化页面Activity -->
        <activity android:name="keyur.diwan.project.waterReminder.InitUserInfoActivity"
                android:screenOrientation="portrait">
        </activity>

        <!-- 主Activity -->
        <activity
                android:name="keyur.diwan.project.waterReminder.MainActivity"
                android:theme="@style/MainTheme"
                android:screenOrientation="portrait">

            <!-- 主Activity的Intent过滤器，声明为启动页面 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 饮水提醒通知接收器 -->
        <receiver android:name="keyur.diwan.project.waterReminder.recievers.NotifierReceiver"/>

        <!-- 开机自启动接收器 -->
        <receiver android:name="keyur.diwan.project.waterReminder.recievers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
